<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.masdiq.simplecrudapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SimpleCrudApp"
        tools:targetApi="m">
        <activity
            android:name=".View.DeleteActivity"
            android:exported="true" />
        <activity
            android:name=".View.UpdateActivity"
            android:exported="true" />
        <activity
            android:name=".View.CreateActivity"
            android:exported="true" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true" />
        <activity
            android:name=".View.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>